<div class="row justify-content-center mt-3">
        <img src="/<%= doctor.image %>" alt="" class="rounded-circle" style="height: 90px;width: 120px;">
        <h6 class="text-white text-center mt-2">Doctor</h6>
        <h5 class="text-white text-center mt-2"><%= doctor.doctorname %></h5>
    </div>
<div class="list-group rounded-0 mt-2">
    <a href="/doctor"  class="list-group-item  border-0 list-group-item-action  bg-transparent text-light">Dashboard</a >
    <a href="/doctor/doctor-patient"  class="list-group-item  border-0 list-group-item-action  bg-transparent text-light">Patient</a >
    <a href="/doctor/doctor-appointment"  class="list-group-item  border-0 list-group-item-action  bg-transparent text-light">Appointment</a >
    <a href=""  class="list-group-item  border-0 list-group-item-action  bg-danger text-light">Logout</a >
</div>