<%- include('base') %>
<div class="container">
    <div class="col-1 mx-auto">
        <div class="row mt-5">
            <a href="/patient-appointment" class="btn btn-sm btn-danger">Appointment</a>
        </div>
    </div>
</div>
<!-- <footer>
    <p class="text-center text-muted">&copy; Copyright 2022 Hospital Management System</p>
</footer> -->